.home-container,
.controls,
.addmember-container,
.edit-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search-box,
.member-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-new-btn{
    margin: 20px 0;
}
#search-input{
    width: 250px;
}
.user-list-button{
    margin: 0 10px;
}
.submit-input{
    margin: 20px auto;
}